.container {
  box-sizing: border-box;
  width: 75%;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding-inline: 24px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-inline: 16px;
  }
}
